/src/main/java/com/jamw/jmud/NewMain.java
/nb-configuration.xml
/nbactions.xml
/workspace.code-workspace
/src/main/java/com/jamw/jmud/NewClass.java
/licenseheader.txt
/src/main/java/com/jamw/jmud/fields/UncertainField2.java
/src/main/java/com/jamw/jmud/fields/UncertainDoubleField.java